.main-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;
  padding-top: 50px;
}
.notes-list {
  margin-top: 35px;
}
app-note-card{
  margin-bottom: 25px;
  display: block;
}
